{% extends 'base.html.twig' %}

{% block body %}

  <div class="container">
    <div class="row">

      <h1>Welcome
        {{ app.user.name }}
        {{ app.user.lname }}!!</h1>

    </div>
  </div>

{% endblock %}